.main-sidebar {
  height: 100vh;
  overflow: scroll;
}
.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active, .sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active {
    background-color: teal!important;
    color: #fff!important;
}